.DS_Store
node_modules
dist
dist-ssr
/dist
/.idea/
/.env
/public

# Local env files
*.local
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS system files
.AppleDouble
.LSOverride
Icon?

# TypeScript
*.tsbuildinfo

# Tests
coverage
test-results

# Vite/Vue/React cache
.cache
vite.config.ts.timestamp*

# Deployment
.vercel